<div class="row">

  <div class="span6">
    <h3 class="title-box">Third Floor</h3>
    The third floor is entirely comprised of bedrooms, the largest of which is the Back-3, which has a fireplace, vividly multi-colored walls, and equally colorful curtains. The 3-2 is a large single with green and purple walls (someone who really likes purple painted that room) and a large window opening out onto the fire escape and the back of the house. The Front-3, a large double, has an enormous mirror for one wall, an extensive solar system mural for another wall, and two large windows opening onto the tree in front of the house. The story behind that is that one of the ballet studios at Boston Conservatory was getting rid of a huge wall-sized mirror, so a bunch of Fenbeings went over and snagged it off the street. The Rick Greene, an unusual single that is only accessible by walking through the Front-3, has an ornate partitioning that creates a bed space and a window-side desk space. Because of this arrangement, The Front-3 has at one time been called the Real Genius Room (which explains the solar system mural). The bathroom on the third floor is a full bath, and has black and white checkered floor tiles, pink and white walls, and a pink bead curtain (we call it the "Loo of Love"). The third floor hallway also has a chalkboard with plenty of colored chalk for all your mathematic and artistic needs.
  </div>
</div>
