
<div class="row">

  <div class="span12">

    <div class="row">

      <div class="span12">
        <h3 class="title-box">House</h3>
        Fenway House has 5 floors in total. It has 14 bedrooms: 9 singles, 3 doubles, 1 triple, and 1 quad. Public spaces include the living room, music room, library, ping pong room, kitchen, breakfast room, tool/laundry room and a bike shed. Each floor has has a main hallway (some also have smaller side hallways), a landing on our grand elliptical spiral staircase (original from 1915!), and a back (servant) staircase.
        <br><br>
        This is a virtual tour of the house. We hope it gives you a better idea of how we Fenbeings live day to day, or at least what our surroundings look like.
      </div>
    </div>


  </div>
</div>

<br>

<br>
<br>
<br>
