<div class="row">

  <div class="span6">
    <h3 class="title-box">Basement</h3>
    The basement has three singles: the B3 (past), the B2 (present), and the B1 (future). These are small singles, because the basement was historically the servants' quarters. The back stairs lead down to the basement, and were a way for the servants to go clean the upper floors without being seen on the main, grand elliptical staircase. The basement is where the kitchen is, with its industrial-sized "magic fridge", pantry, pots and pans, and all the cooking/baking tools you could possibly need. The breakfast room has another fridge, and an industrial-sized freezer. The tool room has a workbench, saws, hammers, nails, paint, and other tools used during work week, when we fix up the house, as well as if anyone needs to build, fix, or paint something on their own. The tool room also has a shiny-new washer and dryer, and enough laundry detergent to last a few centuries. Laundry at Fenway House is free.
    <br><br>
    The singles in the basement are small, but cozy. The beds are slightly lofted to provide extra storage space underneath. All three of these rooms have a full window, since the back of the house is lower, and the basement bedrooms are on ground level. These windows go out onto the fire escape and back alley, but Fenway House has a locked gate separating it from the back alley for safety. The basement rooms also have a desk and and bookshelves built into the wall. Fenbeings living in the basement have traditionally been called "trogs", and once a year, alums and residents get together for an annual Trogfest, where large quantities of meat (real and vegetarian) are consumed, and old Fenway stories are retold with art and enthusiasm.
  </div>
  <div class="span6">
    <div class="row">
      <div class="span6">
        <%= image_tag "tour_basement_hall.jpg", class: "img-rounded" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="span6">
        <%= image_tag "tour_breakfast_room.jpg", class: "img-rounded" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="span6">
        <%= image_tag "tour_kitchen.jpg", class: "img-rounded" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="span6">
        <%= image_tag "tour_b2.jpg", class: "img-rounded" %>
      </div>
    </div>
  </div>

</div>
