
<div class="row">
  <div class="span4">
    <%= image_tag "fenway_entrance.jpg", class: "img-rounded" %>
  </div>

  <div class="span8">

    <div class="row">
      <div class="span8">
        <h3 class="title-box">Residents</h3>

        We have all kinds of people living here, from all over the country and all over the world (not to mention all over the MIT campus, both east and west). Most majors are represented and residents have a variety of interests. Current Fenbeings are majoring in civil engineering, mechanical engineering, material science, architecture, chemistry, computer science, electrical engineering, biology, physics, neuroscience, geology, economics, aerospace engineering, and math, and minoring in theatre and literature. We have many hobbies, and are involved in such extracurricular student groups as Dramashop, GaMIT, Gilbert & Sullivan Players, LGBT, LGC, Medlinks, MITOC, Musical Theatre Guild, and the MIT Shakespeare Ensemble.
        <br><br>
        Our most famous alums are probably Ryan Lackey and Lori Berenson. Lori is a journalist accused of aiding Peruvian terrorists; she's currently serving a long prison term in Peru. Ryan owns a small company called HavenCo that's a data haven based out of Sealand, a country consisting of an offshore military platform near England. Other Fenway alums have gone on to graduate programs and academia, engineering firms, environmental consulting, city planning, oil drilling, public policy health consulting, web design, the pharmaceutical industry and biotech, and more.
      </div>

    </div>
    <div class="row">
      <div class="span8">
        <h3 class="title-box">House</h3>
        At Fenway House, there are lots of singles, a few doubles, and occasionally a triple or quad. Each room is unlike any other, with its own unique murals, lofts, and history. Between our kitchen, breakfast room, music room, living room, library, and ping pong room, Fenbeings have lots of public space to spread out and enjoy life in the whole house. Fenway House, unlike most off-campus living places, has a significantly lower rent than dorms, and rent includes food!
        <br><br>
        With early 1900's architecture, Bohemian decorations, a grand spiraling staircase, colorful murals, custom-built lofts, and diverse residents, Fenway House may be the place for you!
      </div>
    </div>
  </div>
</div>

<br>
<div class="row">

  <div class="span6">
    <h3 class="title-box">Area</h3>

    Fenway House is located in the heart of the Back Bay. A five to ten minute walk gets you from our house to Boston Symphony, to Fenway Park, to the Museum of Fine Arts, to the Prudential and Copley, and everything in-between. The Back Bay is teeming with restaurants, bars, cafes and clubs. Across the street from our house is the Back Bay Fens, a large park with extensive lawns, athletic fields, a river, and a beautiful rose garden. Just across the Fens stands Fenway Park, and we can hear the cheers during games from our windows (it's pretty cool).
  </div>
  <div id="map" class="span6" style="height: 350px"></div>

</div>
