<div class="row">
  <div class="span6">
    <h3 class="title-box">First Floor</h3>

    The first floor has lots of public space. Here there are also mailboxes - everyone has their own personal box. There's often someone hanging out on the cozy couches here, and this is where we hold house meetings. Sammy Alley leads back into the music room, a big room with pinot noir walls and dark wood paneling and many windows, a wooden floor, several couches, a fireplace, a piano, a dance pole, and a large TV (we have DirecTV - hundreds of channels to flip through!). In the summer, the music room is a popular place to spend time, as someone usually brings in an extra air conditioner. People watch TV, hang out, play piano, and have dance parties in here (with a disco ball throwing red speckles across the walls and ceiling). This is a popular room put to good use.
    <br><br>
    We also have a decent collection of movies on DVD and VHS and video games! We have a PS2, Gamecube, N64, and Wii. People can often be found playing Mariocart, Karaoke Revolution, Guitar Hero, or Rockband in here. Oh yeah, did we mention we own Rockband? One of our awesome alums got it for us as a gift.
    <br><br>
    There are two singles on the first floor: the Office and the 1-1. The "office" was, in its time, actually the office of the owner of the house (lawyer or dentist? take your pick). These two singles are narrow, but long, and have high ceilings and high lofted beds (with ladders). Their windows face out front, but the large tree in front of the house protects them from bright, direct sunlight. The office is painted green, and has a fireplace. The 1-1 is painted blue, and has a really nice wardrobe and dresser, as well as its own little sink.
    <br><br>
    At Fenway House, there are lots of singles, a few doubles, and occasionally a triple or quad. Each room is unlike any other, with its own unique murals, lofts, and history. Between our kitchen, breakfast room, music room, living room, library, and ping pong room, Fenbeings have lots of public space to spread out and enjoy life in the whole house. Fenway House, unlike most off-campus living places, has a significantly lower rent than dorms, and rent includes food!
  </div>
  <div class="span6">
    <div class="row">
      <div class="span6">
	<%= image_tag "tour_living_room.jpg", class: "img-rounded" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="span6">
        <%= image_tag "tour_music_room.jpg", class: "img-rounded" %>
      </div>
    </div>
  </div>

</div>
