<div class="row">
  <div class="span6">
    <h3 class="title-box">Second Floor</h3>

    The second floor, like the first, was an entertaining floor in its time. What was once the parlour has now become the largest room in the house: the 2-4. Aside from its expanse of hardwood floor, high ceilings, fireplace, and large windows, the 2-4 also has an extensive loft system, with four mattresses (it's a really roomy quad). Next to the 2-4 is the only half-bath in the house (the other three have showers).
    <br><br>
    Across from the spiral stairs is our very own pool table, equipped with perfect spheres and several cues. Hence, this room is proudly titled the Ping Pong Room. It makes sense, really.
    <br><br>
    The library is a grand room with an engraved ceiling, arched windows, a balcony, and shelves upon shelves filled with various books. We have fiction, nonfiction, textbooks, class bibles, old yearbooks, and lots of other ancient treasures. It also has one of our athena workstations, Cheshirecat. We use this room mainly for tooling: on any weeknight, you can find the computer, desks, and couches populated by a hardworking MIT student. People shut themselves in there for quiet studying during finals week. The library is the one place in the house that is 100% original, with its fuzzy wallpaper and dark wood paneling. Just don't lick the wallpaper! (seriously, don't lick it. It has arsenic!)
  </div>
  <div class="span6">
    <div class="row">
      <div class="span6">
        <%= image_tag "tour_pool_room.jpg", class: "img-rounded" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="span6">
        <%= image_tag "tour_library.jpg", class: "img-rounded" %>
      </div>
    </div>
  </div>
</div>
