<div class="row">

  <div class="span6">
    <h3 class="title-box">Fourth Floor</h3>
    The fourth floor has four bedrooms. The Chah-Min was painted with blue this year and has a skylight right above a loft. Its window faces the front of the house. The Front-4 has been both a double and a single. It has a mural of grassy reeds. It has a loft and a normal bed, and two large windows facing the front of the house (with a tree just outside). The 4-2 is a large single with gray walls with red and silver flowers, and a mural of a field with birches on one wall. Its large window faces the back of the house. The 4-4 is a room that is ALL BLACK! (like our souls). It has three lofts built into the walls. It has four windows and a fireplace. It has been both a double and a triple.
  </div>
  <div class="span6">
    <div class="row">
      <div class="span6">
        <%= image_tag "tour_front4.jpg", class: "img-rounded" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="span6">
        <%= image_tag "tour_back4.jpg", class: "img-rounded" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="span6">
        <%= image_tag "tour_cheng.jpg", class: "img-rounded" %>
      </div>
    </div>
  </div>

</div>
