<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    Hello <b>Fenway House</b>!
    <br><br>
    
    Someone has just sent an an email to the house through the website.
    <br><br>
    <b>Name:</b> <%= @name %>
    <br>
    <b>Email:</b> <%= @email %>
    <br>
    <b>Message</b>
    <br>
    =========================<br>
    <%= @message %><br>
    =========================<br>

    <br><br>
    Someone please reply!<br>
    ~Zelda
    
  </body>
</html>
