<% provide(:title, 'Events') %>

<div class="row">
  <div class="span12">
    <h1>Events#all</h1>
  </div>
</div>

<div class="row">
  <div class="span12">

    <%= render @events %>
    
  </div>
</div>
