<li class="span3">
  <div class="bg-orange img-rounded">
    <%= link_to photo, class: "item-hover thumbnail" do %>
    <%= image_tag photo.file.url(:thumb), class: "img-rounded" %>
    <% end %>
  </div>
</li>
