<div class="row">
  <div class="span8">
    <%= link_to @photo.file.url do %>
    <%= image_tag @photo.file.url(:medium), class: "img-rounded" %>
    <% end %>
  </div>
  <div class="span4">
    <h2><%= @photo.title %></h2>
    <p class="lead"><%= @photo.description %></p>
    
  </div>
</div>
